.input-group {
  display: flex;
}

/* .first-name {
  border-radius: 4px;
  width: 50%;
  margin-right: 10px;
  border-radius: 4px;
}
.last-name {
  border-radius: 4px;
  width: 50%;
  border-radius: 4px;
  margin-left: 10px;
} */
