@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: rgb(226 232 240);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
}

ul {
  list-style-type: none;
}
