.login-page {
  height: calc(100vh - 60px);
}

.dangerous {
  border: 2px solid rgb(235, 115, 115);
  outline: rgb(235, 115, 115);
}

.disble {
  display: none;
}

.login-page form {
  background-color: var(--main);
  padding: 100px 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-shadow: 5px 10px #6897e4;
}

.login-page form h1 {
  color: #111;
  font-size: 45px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.login-page .form-field {
  color: #111;
  width: 90%;
  height: 40px;
  margin: 10px;
  overflow: hidden;
  border-radius: 4px;
}

.login-page .form-field input,
.login-page .form-field button {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #111;
}
.login-page .form-field button:hover {
  background-color: #6897e4;
  color: #111;
}

.register-link {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #111;
}
.register-link p > a {
  color: #111;

  text-decoration: none;
}

.error {
  color: rgb(235, 115, 115);
}
