.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  text-decoration: underline;
}
